
/*---------------Blue Stylesheet-------------------------*/
/*---------------------------------------------------------*/

a.visbutton, .casino-list a.play:hover, .claim, div.reply a.comment-reply-link, div.reply a.comment-reply-link:visited, #commentform #submit { background: #1092d3;} .searchsubmit , .game-img, .play-games ul li h3{ background: #1092d3;} .newsletterform .submitbutton, .pagination .current, .pagination a:hover { background: #1092d3;}.casino-list a.play:hover{border-color:#1092d3;} .bonusleft1 {    color:  #1092d3 ;} .game-img-box {    background: #40a8dc}	

 .bonus-area  { background-image: url(blue/bonus-area-bg5.jpg); }
