
/*---------------Orange Stylesheet-------------------------*/
/*---------------------------------------------------------*/

a.visbutton, .casino-list a.play:hover, .claim, div.reply a.comment-reply-link, div.reply a.comment-reply-link:visited, #commentform #submit { background: #eda600;} .searchsubmit , .game-img, .play-games ul li h3{ background: #eda600;} .newsletterform .submitbutton, .pagination .current, .pagination a:hover { background: #eda600;}.casino-list a.play:hover{border-color:#eda600;} .bonusleft1 {    color:  #eda600 ;} .game-img-box {    background: #f1b833}	

.entry-content a,  .entry-content a:visited, .sidebar a, .sidebar a:visited,.rightcasinolist a, .nav li.current-menu-item a, .nav li.current-menu-parent a, .bonus-area span a{ color: #1e73be} .siterow a.vislink {   color: #444;} .entry-content a:hover,  .sidebar a:hover, .rightcasinolist a:hover, .bonus-area span a:hover{ color: #757575}

 header.main-header { background-color: #828282;}
